:local(.wrap){

}

:local(.fundHeader){
    display: flex;
    justify-content: space-between;
    background: #fff;
}
:local(.fundHeaderBox){
    display: flex;
}
:local(.fundHeaderT){
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #3B3D40;
    line-height: 16px;
    height: 16px;
    border-left: 4px solid #5262ff;
    padding-left: 10px;
    margin-top: 2px;
}
:local(.fundHeaderA){
    display: block;
    color: #5262ff;
    font-size: 12px;
    margin-top: 4px;
}
:local(.fundHeaderImg){
    float: right;
    margin-left: 10px;
    width: 6px;
    height: 10px;
    margin-top: 1px;
}
:local(.fundContent){
    height: auto;
}
:local(.contentItemHeader){
    display: flex;

}
:local(.contentItem){
    height: 137px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 0 16px;
    padding-top: 16px;
    padding-bottom: 10px;
    margin-top: 10px;
}
:local(.contentItemName){
    padding-right: 20px;
    border-right: 1px solid #eee;
    width: 115px;
    margin-top: 30px;
    height: 46px;
}
:local(.contentItemName1){
    padding-left: 20px;
    margin-top: 30px;
}
:local(.yieldRateBox){
    display: block;
    font-size: 15px;
    color: #F49193;


}
:local(.yieldRateBox1){
    display: block;
    font-size: 15px;
    color: #3B3D40;


}
:local(.yieldRate){
    font-size: 20px;
    color: #F49193;
}
:local(.yieldRate1){
    font-size: 20px;
    color: #3B3D40;
}
:local(.yieldRateTip){
    margin-top: 10px;
    font-size: 12px;
    color: #989898;
}
:local(.contentItemContent){
    display: flex;
    padding-top: 20px;
}
:local(.span){
    line-height: 18px;
    height: 20px;
    width: 80px;
    text-align: right;
    font-size: 12px;
    color: #5262ff;
    border: 1px solid #5262ff;
    border-radius: 4px;
    margin-left: 14px;

}
:local(.num){
    font-size: 12px;
    color: #989898;
    line-height: 18px;
    margin-left: 10px;
}
:local(.circleBox){
    flex:1
}
:local(.circle){
    float: right;
    margin-top: 12px;
}
:local(.fundTitle){
    font-size: 16px;
    color: #3B3D40;
    font-weight: bold;
    padding: 0 16px;
    padding-top: 20px;

}
:local(.cir){
    width: 77px;
    height: 77px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #eee;
    font-size: 12px;
    padding-top: 26px;
    text-align: center;
    color: #989898;
}
:local(.cir1){
    width: 77px;
    height: 77px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #5262ff;
    font-size: 12px;
    /*padding-top: 26px;*/
    text-align: center;
    color: #5262ff;
    line-height: 77px;
}
