
:local(.tab){
    padding-top: 10px;
}
:local(.item){
    padding-left: 16px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
:local(.itemContent){

    height: 64px;
    padding-right: 16px;
    border-bottom: 1px solid #eee;

}

:local(.itemAdressBox){
    padding: 9px 0;
    display: flex;
    align-items: center;
}
:local(.itemAdressBox):after{
    clear: both;
    content: '';
    display: block;
}
:local(.itemAdressT){
    line-height: 34px;
    color: #989898;
    font-size: 12px;
    float: left;
    width: 14%;
}
:local(.itemAdress){
    width: 86%;
    float: left;
    word-wrap: break-word;
    word-break: normal;
    padding-right: 16px;
    color: #989898;
    font-size: 12px;
    line-height: 18px;
}
:local(.itemCoin){
    font-size: 13px;
    line-height: 64px;
    color: #3B3D40;
    width: 100px;
    float: left;
}
:local(.itemName){
    font-size: 13px;
    line-height: 64px;
    color: #3B3D40;
    float: right;
}
:local(.itemDo){
    font-size: 13px;
    line-height: 64px;
    color: #3B3D40;
    float: right;
}
:local(.itemImg){
    float: left;
    width: 16px;
    height: 16px;
    margin-top: 22px;
    margin-right: 10px;
}
:local(.iconImg){
    float: left;
    width: 16px;
    height: 16px;
    margin-top: 22px;
    margin-right: 6px;
}
