:local(.wrap){
    height: 100%;
    background-color: #fff;
}
:local(.itemUl){
    padding-top: 10px;
}
:local(.itemBox){
    padding: 0 16px;
    margin-bottom: 10px;
}
:local(.itemBoxT){
    font-size: 14px;
    line-height: 32px;
    color: #3B3D40;

}
:local(.itemBoxT1){
    font-size: 14px;
    line-height: 32px;
    color: #3B3D40;
    float: left;
}
:local(.itemB):after{
    display: block;
    clear: both;
    content: '';
}
:local(.itemBoxTT){
    font-size: 10px;

    color: #3B3D40;
}
:local(.itemBoxTT1){
    font-size: 10px;
    line-height: 32px;
    color: #3B3D40;
    float: right;
}
:local(.itemBox) .am-list-item{
    background-color: #eee!important;
    border-radius: 5px!important;
}
:local(.tip){
    margin-left: 16px;
    font-size: 10px;
    color: #989898;
}
:local(.button){
    margin: 0 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(to right,#3ca3fd,#5262ff);
    border-radius: 5px;
    margin-top: 60px;
}
:local(.itemBoxC){
    font-size: 14px;
    color: #BBBBBB;
}
:local(.itemBox) .am-list-arrow{
    transform:rotate(90deg);
}
:local(.itemBox) .am-list-item .am-input-extra{
    color: #989898!important;
}
.am-list-item :local(.img){
    width: 16px;
    height: 14px;
}
:local(.title){
    font-size: 18px;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
}
:local(.alTip){
    font-size: 16px;
    text-align: left;
    color: #989898;
    display: block;
    margin-top: 5px;
}
:local(.inputUl){
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
:local(.inputLi) .am-list-item .am-input-control input{
    font-size: 16px!important;
    color: #3B3D40!important;
    font-weight: bold!important;
    background-color: #f5f4f7;
    width: 30px!important;
    height: 30px!important;
    border-radius: 5px!important;
    padding-left: 10px!important;
}
:local(.inputLi) .am-list-item.am-input-item{
    border-bottom: none;
}
:local(.inputLi) .am-list-item.am-input-item{
    padding: 0!important;
}
:local(.inputUl) .am-list-item.am-input-item::after{
    display: none!important;
}