:local(.wrap){
}
:local(.part){
    margin-bottom: 10px;

}
:local(.partUl):after{
    clear: both;
    content: '';
    display: block;
}
:local(.partA){
    display: block;
    height: 34px;
    width: 50%;
    background-color: #fff;
    color: #3B3D40;
    line-height: 34px;
    font-size: 12px;
    text-align: center;
}
:local(.partHeader){
    display: flex;
    background-color: #fff;
    margin-bottom: 10px;
}
:local(.ensure){
    display: block;
    height: 64px;
    width: 100%;
    background-color: #fff;
    color: #3B3D40;
    line-height: 34px;
    border-bottom: 1px solid #eee;

}
:local(.partImg){
    width: 12px;
    margin-right: 10px;
}
:local(.line){
    width: 1px;
    height: 12px;
    margin-top: 11px;
    background-color: #eee;
}

:local(.bannerA):after,:local(.ensure):after,:local(.partLi):after,:local(.partTotal):after,:local(.headerTop):after,:local(.headerBottom):after{
    display: block;
    clear: both;
    content: '';
}

:local(.arrow){
    width: 6px;
    height: 10px;
    float: right;
    margin-top: 22px;
}



:local(.totalL){
    float: left;
}
:local(.totalLT){
    display: block;
    color: #989898;
    font-size: 14px;
    line-height: 24px;
}
:local(.totalLB){
    display: block;
    color: #3B3D40;
    font-size: 24px;
    line-height: 34px;
}
:local(.totalR){
    width: 6px;
    height: 10px;
    float: right;
    margin-top: 24px;
}
:local(.partTotal){
    display: block;
    height: 70px;
    padding: 0 16px;
    padding-top: 6px;
}
:local(.see){
    width: 16px;
    height: 11px;
    margin-left: 16px;
}
:local(.header){
    width: 100%;
    background: linear-gradient(to right,#3ca3fd, #5262ff);
    padding: 0 16px;
    padding-top: 20px;
    padding-bottom: 10px;
}
:local(.headerTop){
    margin-bottom: 10px;
}
:local(.headerTopW){
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    float: left;
}
:local(.headerTopI){
    height: 10px;
    padding-right: 5px;
}
:local(.headerTopR){
    float: right;
    font-size: 10px;
    height: 16px;
    color: #fff;
    margin-top: 4px;

}
:local(.user){
    float: left;
}
:local(.userImg){
    width: 44px;
    height: 44px;
    float: left;
    background-color: #1abc9c;
}
:local(.userData){

    color: #fff;
}
:local(.userMoney){
    width: 166px;
    float: right;
    color: #fff;
    padding-top: 12px;
}
:local(.userMoneyT){
    display: block;
    font-size: 10px;
    line-height: 20px;
    text-align: left;
}
:local(.userMoneyC){
    font-weight: bold;
}
:local(.userName){
    display: block;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
}
:local(.userTime){
    display: block;
    font-size: 24px;
}



:local(.banner){
    width: 100%;

    background-color: #fff;
    padding-bottom: 10px;
}

:local(.list) .slider-list{
     height: auto!important;

}
:local(.banner) .slider-slide{
     /*position: relative!important;*/

}
:local(.banner) .slider-frame{
     padding-bottom: 10px!important;

}
:local(.bannerA){
    width: 100%;
    display: block;
    padding: 10px 16px;
}
:local(.bannerAL){
    float: left;
    font-size: 12px;
    color: #989898;
}
:local(.bannerAR){
    float: right;
    font-size: 12px;
    color: #5262ff;
}
:local(.bannerARI){
    float: right;
    width: 6px;
    height: 10px;
    margin-top: 1px;
    margin-left: 10px;
}
:local(.bannerItem){
    padding-top: 4px;
}
:local(.banner) .am-carousel-wrap-dot > span{
    background: #fff!important;
    border: 1px solid #5262ff!important;

}
:local(.banner) .am-carousel-wrap-dot-active > span{
     background: #5262ff!important;
}
:local(.chart){
    margin-top: 10px;
}
:local(.chartBox){
    padding-bottom: 30px;
}

:local(.box){
    background-color: #FFF;
    padding-bottom: 20px;
}
:local(.box)>div>div{
    margin-top: -28px!important;
}
:local(.bottomA){
    text-align: center;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 18px;
    color: #5262ff;
    font-weight: bold;
    background-color: #fff;

    position: fixed;
    bottom: 0;
}
:local(.chart) .am-tabs-default-bar-tab{
    color: #989898!important;

}
:local(.chart) .am-tabs-default-bar-tab-active{
    color: #5262ff!important;
    font-weight: bold!important;
}
:local(.ititle){
    font-size: 16px;
    color: #3B3D40;
}
:local(.ititle1){
    font-size: 12px;
    color: #5262ff;
}
:local(.icontent){
    font-size: 12px;
    color: #989898;
    width: 100%;
    word-break:break-all;
    word-wrap:break-word;

}
.am-list-item .am-list-line .am-list-content{
    white-space: normal!important;

}
:local(.button) .am-button-primary{
    background: linear-gradient(to right,#3ca3fd,#5262ff) !important;
}