:local(.wrap){
    /*margin-bottom: 52px;*/
    /*background-color: #fff;*/
}
:local(.wrap) .am-tabs-default-bar-tab-active{
    color: #5262ff;
    font-weight: bold;
}
:local(.itemBox){
    padding-left: 16px;
    background-color: #fff;
}
:local(.item){

    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
}

:local(.itemLeft){
    float: left;
}
:local(.itemLeftTime){
    color: #989898;
    margin-right: 20px;
}
:local(.itemLeftH){
    display: flex;
    font-size: 12px;
}
:local(.itemLeftB){
    font-size: 16px;
    margin-top: 10px;
    color: #3B3D40;
}
:local(.itemRight){
    text-align: right;
    float: right;
}
:local(.itemRightT){
    font-size: 12px;
    color: #989898;
    display: block;
}

:local(.itemRightC){
    display: block;
    font-size: 16px;
    color: #3B3D40;
    margin-top: 10px;
}
:local(.showImg){
    width: 90px;
    height: 110px;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}
:local(.showTip){
    display: block;
    text-align: center;
    margin-top: 20px;
}
:local(.tagBox){
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
}
:local(.tagBoxS){
    display: block;
    width: 60px;
    height: 24px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #989898;
    text-align: center;
    line-height: 22px;
    color: #989898;
}
:local(.tagBox) .am-tabs-default-bar-top, .am-tabs-default-bar-bottom{
    background-color: transparent!important;
}
:local(.tagBox) .am-tabs-default-bar-top .am-tabs-default-bar-content, .am-tabs-default-bar-bottom .am-tabs-default-bar-content{
    justify-content: space-between!important;
}


:local(.tagBox) .am-tabs-default-bar-top .am-tabs-default-bar-underline, .am-tabs-default-bar-bottom .am-tabs-default-bar-underline{
    display: none!important;
}

:local(.tagBox) .am-tabs-default-bar-tab{
    display: block!important;
    width: 60px!important;
    height: 24px!important;
    font-size: 14px!important;
    border-radius: 4px!important;
    border: 1px solid #989898!important;
    text-align: center!important;
    line-height: 22px!important;
    color: #989898!important;
    padding: 0!important;
}
:local(.tagBox) .am-tabs-default-bar-tab:after{
    display: none!important;
}

:local(.tagBox) .am-tabs-default-bar-tab-active{
    border: 1px solid #5262ff!important;
    font-weight: normal!important;
    color: #5262ff!important;
}