:local(.wrap){
    height: 100%;
    background-color: #fff;
}
:local(.itemUl){
    padding-top: 10px;
}
:local(.itemBox){
    padding: 0 16px;
    margin-bottom: 10px;
}
:local(.itemBoxT){
    font-size: 12px;
    line-height: 32px;
    color: #3B3D40;
}
:local(.itemBox) .am-list-item{
    background-color: #eee!important;
    border-radius: 5px!important;
}
:local(.tip){
    margin-left: 16px;
    font-size: 10px;
    color: #989898;
}
:local(.button){
    margin: 0 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(to right,#3ca3fd,#5262ff);
    border-radius: 5px;
    margin-top: 60px;
}
:local(.itemBoxC){
    font-size: 14px;
    color: #BBBBBB;
}
:local(.itemBox) .am-list-arrow{
    transform:rotate(90deg);
}
.am-modal-header{
    padding-top: 0!important;
}
:local(.alTip){
    display: block;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: #989898;
}
:local(.alTip1){
    display: block;
    float: left;
    width: 34%;
}
:local(.alTip2){
    display: block;
    float: left;
    width: 66%;
    word-wrap:break-word;
}
:local(.alTip):after{
    clear: both;
    content: '';
    display: block;
}
:local(.alertTip){
    padding-top: 5px;
    color: #5262ff;
    font-size: 12px;
    word-wrap:break-word;
    display: block;
}
:local(.checkTip){
    margin-top: 10px;
}
:local(.checkTip) .am-list-item .am-list-line .am-list-content{
    overflow: visible!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
}
:local(.checkTip) .am-list-item{
    padding-left: 0!important;
    display: block!important;
}
:local(.checkTip) .am-list-thumb{
    float: left;
}
:local(.checkTip) .am-list-item .am-list-thumb:first-child {
    margin-right: 5px!important;
}
