:local(.wrap){
    margin-bottom: 52px;
}
:local(.part){
    margin-bottom: 10px;

}
:local(.partUl):after{
    clear: both;
    content: '';
    display: block;
}
:local(.ensure){
    display: flex;
    height: 64px;
    width: 100%;
    background-color: #fff;
    color: #3B3D40;
    padding: 6px 16px;
    border-bottom: 1px solid #eee;

}
:local(.ensure1){
    display: block;
    height: 54px;
    width: 100%;
    background-color: #eee;
    color: #989898;
    padding: 1px 16px;
    border-bottom: 1px solid #eee;

}
:local(.partLi){
    display: block;
    line-height: 40px;
    width: 50%;
    background-color: #fff;
    color: #3B3D40;
    padding: 0 16px;
    border-bottom: 1px solid #eee;
    float: left;
}
:local(.partLi):first-child,:local(.partLi):nth-child(3){
    border-right: 1px solid #eee;
}

:local(.ensure):after,:local(.partLi):after,:local(.partTotal):after,:local(.headerTop):after,:local(.headerBottom):after{
    display: block;
    clear: both;
    content: '';
}
:local(.itemEmoji){
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 12px;
    margin-right: 14px;
}
:local(.arrow){
    width: 6px;
    height: 10px;
    float: right;
    margin-top: 22px;
}
:local(.ico){
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 7px;
    margin-right: 14px;
}
:local(.itemWordBox){
    float: left;
    width: 268px;
}
:local(.itemWordBox1){

}
:local(.itemWord){
    color: #3B3D40;
    font-size: 16px;
    line-height: 26px;
    display: block;

}
:local(.itemWord1){
    color: #989898;
    font-size: 12px;
    line-height: 26px;
    display: block;

}
:local(.itemMoney){
    color: #989898;
    font-size: 16px;
    line-height: 26px;
    float: left;
    width: 50%;
}
:local(.itemMoney11){
    color: #989898;
    font-size: 12px;
    line-height: 26px;
    float: left;
    width: 50%;
}
:local(.itemMoney1){
    color: #989898;
    font-size: 16px;
    line-height: 26px;
    float: right;
    width: 50%;
}
:local(.itemMoney111){
    color: #989898;
    font-size: 12px;
    line-height: 26px;
    float: right;
    width: 50%;
}
:local(.itemTitle){
    color: #989898;
    font-size: 12px;
    line-height: 40px;
    float: left;
}
:local(.itemContent){
    color: #3B3D40;
    font-size: 12px;
    line-height: 40px;
    float: right;
}
:local(.totalL){
    float: left;
}
:local(.totalLT){
    display: block;
    color: #989898;
    font-size: 14px;
    line-height: 24px;
}
:local(.totalLB){
    display: block;
    color: #3B3D40;
    font-size: 24px;
    line-height: 34px;
}
:local(.totalR){
    width: 6px;
    height: 10px;
    float: right;
    margin-top: 24px;
}
:local(.partTotal){
    display: block;
    height: 70px;
    padding: 0 16px;
    padding-top: 6px;
}
:local(.see){
    width: 16px;
    height: 11px;
    margin-left: 16px;
}
:local(.header){
    width: 100%;
    background: linear-gradient(to right,#3ca3fd, #5262ff);
    padding: 0 16px;
    padding-top: 20px;
    padding-bottom: 10px;
}
:local(.headerTop){
    margin-bottom: 10px;
}
:local(.headerTopW){
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    float: left;
}
:local(.headerTopI){
    height: 10px;
    padding-right: 5px;
}
:local(.headerTopR){
    float: right;
    font-size: 10px;
    height: 16px;
    color: #fff;
    margin-top: 4px;

}
:local(.user){
    float: left;
}
:local(.userImg){
    width: 44px;
    height: 44px;
    float: left;
    background-color: #1abc9c;
}
:local(.userData){

    color: #fff;
}
:local(.userMoney){
    width: 166px;
    float: right;
    color: #fff;
    padding-top: 12px;
}
:local(.userMoneyT){
    display: block;
    font-size: 10px;
    line-height: 20px;
}
:local(.userMoneyC){
    font-weight: bold;
}
:local(.userName){
    display: block;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
}
:local(.userTime){
    display: block;
    font-size: 24px;
}
:local(.userQcode){
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 7px;
}
:local(.userArrow){
    width: 6px;
    height: 10px;
    float: right;
    margin-top: 12px;
    margin-left: 20px;
}